$fa-font-path: "fonts";
$icon-font-path: "fonts/";

@import "font-awesome";
@import "bootstrap";
@import "hljs-github";

@import "anchorlink";
@import "frontpage";
@import "alert";

main {
	padding-bottom: 3rem;
}

header {
	.nav > li > a {
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

footer {
	border-top: 1px solid $navbar-default-border;
	padding: 3rem 0;
}

table {
	th,
	td {
		padding: $table-cell-padding;
	}
}

.rules-table {
	.set {
		width: 5%;
	}

	.name {
		width: 35%;
	}

	.summary {
		width: 60%;
	}
}

.inline-validation {
	@extend pre;

	pre {
		border: 0;
		margin-bottom: 0;
		padding: 0;
	}

	.markup {
	}

	.messages {
		border-top: 1px solid $pre-border-color;
		margin-top: ($line-height-computed - 1) / 2;
		padding-top: ($line-height-computed - 1) / 2;

		pre {
			color: $code-color;
		}
	}
}

%support {
	text-align: center;
}

.support-no {
	@extend %support;
	background: $alert-danger-bg;
	color: $alert-danger-text;
}

.support-yes {
	@extend %support;
	background: $alert-success-bg;
	color: $alert-success-text;
}

.support-planned {
	@extend %support;
	background: $alert-warning-bg;
	color: $alert-warning-text;
}

.support-table {
	em {
		display: block;
		margin-top: 1.5rem;
	}
}

.table-right {
	text-align: right;
}

.table-center {
	text-align: center;
}

.alert .fa {
	font-size: 1.3em;
	margin-right: 0.5em;
	position: relative;
	top: 1px;
}
