<!-- should not allow end tag -->
<input type="text"></input>

<!-- should not allow attributes -->
<input type="text" autofocus="foobar">
<input type="text" capture="foobar">
<input type="text" checked="foobar">
<input type="text" disabled="foobar">
<input type="text" multiple="foobar">
<input type="text" readonly="foobar">
<input type="text" required="foobar">
<input type="text" inputmode="foobar">
<input type="foobar">
<input type="text" spellcheck="foobar">

<!-- should not allow missing type -->
<input>

<!-- should be interactive when type isn't hidden -->
<button type="button">
	foo
	<input type="text">
</button>

<!-- type="image" requires alt text -->
<input type="image">
